@model Aircompany.Web.Models.Plane.PlaneViewModel

@{
    var operation = Model.Id == null ? "Create" : "Edit";
    ViewBag.Title = operation + " plane";
}

<div class="page-header">
    <h1>@operation plane</h1>
</div>

@using (Html.BeginForm("CreateEdit", "Plane", FormMethod.Post, new { @class = "form-horizontal", id = "plane-create-edit-form"}))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)
}